.login-page {
  min-height: 100vh;
  background: linear-gradient(to bottom, #306844, #1E453E, #182C25);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
}

html{
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(
      to bottom,
      #306844,
      #1E453E,
      #182C25
    );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  /* Login/Register Container */
  .login-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 100px;
    border-radius: 16px;
    min-height: 520px;
    background: rgba(0, 0, 0, 0.85) !important;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.45);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-login {
    font-family: "Silkscreen", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Heading */
  .login-container h1 {
    margin-bottom: 24px;
    color: #ffffff;
  }
  
  /* Form layout */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin: 12px 0;
    padding: 12px;
  
    color: white;
    font-size: 16px;
  
    border: 0;
    border-radius: 10px;
  
    padding: 12px 14px;
  
    background:
      linear-gradient(#222, #222) padding-box,
      linear-gradient(135deg, #306844,
      #1E453E,
      #182C25) border-box;
  
    /* Creates the actual border using background-clip trick */
    background-clip: padding-box, border-box;
  
    /* Border thickness */
    border: 3px solid transparent;
  }
  
  /* Placeholder color */
  .login-form input::placeholder {
    color: #aaaaaa;
  }
  
  
  /* Placeholder color */
  .login-form input::placeholder {
    color: #aaaaaa;
  }
  
  
  /* Submit button */
  .login-form button {
    padding: 15px 12px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    background: #182C25;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.25s ease;
  }
  
  .login-form button:hover {
    background: #20362c;
  }
  
  /* Google login button */
  .google-btn {
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    background: #182C25;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.25s ease;
  }
  
  .google-btn:hover {
    background: #20362c;
  }
  
  /* Error & Success messages */
  .error-msg {
    color: #ff6b6b;
  }
  
  .success-msg {
    color: #51cf66;
  }
  
